body {
  font-family: "Ubuntu", sans-serif;
}

/* main */


.main {
  display: flex;
  flex-direction: row-reverse;
  background-color: #FFFFFF;
  width: 1050px;
  margin: 0 auto;
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px 4px rgba(39, 48, 14, 0.13);
}

.main-content {
  padding: 105px 90px 90px;
  width: 640px;
}

.main:hover {
  transition: 700ms;
  background: #fffef9;
  box-shadow: 25px 35px 35px 5px rgba(65, 71, 53, 0.534);
}

/* about */

.about {
  margin-bottom: 70px;
}

.about-position {
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 17px;
  margin-bottom: 20px;
}

.name-title {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
}

.about-description {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  margin-top: 30px;
  width: 484px;
}

/* Title */

.title {
  font-weight: bold;
  font-style: normal;
  font-size: 25px;
  line-height: 27px;
  margin-bottom: 20px;
}

.education-odesa {
  margin-top: 30px;
}

/* Projects */

.projects {
  margin-bottom: 45px;
  width: 500px;
}

.projects-list {
  padding: 0;
  margin-left: 15px;
}

.projects-item {
  font-style: normal;
  font-size: 15px;
  line-height: 25px;
}

.projects-item::marker {
  color: #a8a8a8;
}


.project,
.project-link {
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  line-height: 25px;
  color: #8382f9;
  transition: 300ms;
}

.project-link {
  /* margin-left: 10px; */
  font-weight: 600;
}

.project-link:hover {
  color: #ffa43d;
}

.git {
  margin-right: 10px;
}

.projects-item {
  margin-top: 10px;
}


.project-description {
  margin: 0;
  /* margin-left: 10px; */
  margin-top: 5px;
  padding: 0;
  font-weight: normal;
}

.project-bracket {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.project-skills {
  margin: 0;
  /* margin-left: 10px; */
  color: #000000;
}

/* Works */
.position {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 5px;
}

.organization {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #ffa43d;
  margin: 0;
}

.period {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0;
  margin-bottom: 10px;
}

.line {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.work-list {
  padding: 0;
  margin-left: 15px;
}

.work {
  margin-top: 80px;
}

.title-work {
  margin-bottom: 30px;
}

.work-list-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-top: 0;
}

.period-study {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-top: 0;
  color: #a8a8a8;
}

.work-list-item::marker {
  color: #a8a8a8;
}

.education {
  margin-top: 75px;
}

.goit {
  margin-bottom: 22px;
}

.odesa {
  font-weight: bold;
}

.education-state {
  margin: 0px 0 5px;
  font-size: 15px;
}

/* Sidebar  background-color: #1e2939;  */

.sidebar {
  background-color: #0C2340;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  width: 385px;
  border-radius: 25px 0 0 25px;
}

/* Photo */

.photo {
  display: block;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 25px 0 25px 0;
}

.contacts,
.tech-skills,
.soft-skills {
  margin-left: 20px;
}

.sidebar-title {
  color: #e5e6e5;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 17px;
  margin: 0;
  margin-bottom: 15px;
  margin-top: 40px;
}


.skills {
  margin-top: 25px;
}

/* CONTACTS */

.mob-number {
  margin-top: 27px;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 10px;
}



.contact-link {
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #e7e7e7;
  display: flex;
  align-items: center;
  margin-left: 15px;
  transition: 300ms;
}

.telegram {
  margin-left: 18px;
}

.none-underline {
  text-decoration: none;
}

.contact-link:hover {
  color: #ffa43d;
}

.links {
  margin-bottom: 15px;
  padding-left: 0;
}

/* GIT HUB LINKEDIN LOGOS */

.li-links {
  list-style: none;
  display: inline-block;
  padding-right: 16px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.logo-git {
  transition: 300ms;
  border-radius: 10px;
  width: 38px;
}

.tech-skills-list {
  color: #e7e7e7;
  padding: 0;
  font-style: normal;
  margin: 0;
}

.logo-skills {
  padding-right: 15px;
  display: flex;
  align-items: center;
}

/* List */

.soft-skills {
  margin-top: 20px;
}

.soft-skills-list {
  margin: 5px;
  padding: 0;
  color: #FFFFFF;
}

.soft-skills-item {
  padding-bottom: 5px;
  margin-left: 22px;
}

.soft-skills-item::marker {
  color: #a8a8a8;
}